[Unit]
Description=Modprobed-db
Documentation=man:modprobed-db(8)
Documentation=https://wiki.archlinux.org/index.php/Modprobed-db
RequiresMountsFor=/home/
Wants=modprobed-db.timer

[Service]
Type=simple
ExecStart=/usr/bin/modprobed-db storesilent

[Install]
WantedBy=default.target
